h3,
h1,
h2,
p,
div {
  margin: 0;
}

.container {
  gap: 40px;
  display: grid;
  grid-template-areas:
    "bulbasaur bulbasaur bulbasaur"
    "squartle squartle charmander"
    ". pikachu charmander";
}

.card {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.pikachu {
  grid-area: pikachu;
}

img {
  max-width: 300px;
  min-width: 200px;
  width: 100%;
}

.charmander {
  grid-area: charmander;
}

.squartle {
  grid-area: squartle;
}

.bulbasaur {
  grid-area: bulbasaur;
  display: flex;
  justify-content: center;
}

.card__background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.card__background:hover {
  background-color: rgba(16, 13, 13, 0.383);
}

.card__button {
  width: 150px;
  background-color: blue;
  color: white;
  z-index: 2;
}

.card__button:hover {
  background-color: rgba(3, 3, 172, 0.742);
  cursor: pointer;
}

.card__image {
  width: 20%;
}

.card__image:hover {
  width: 40%;
}
